#history_banner {
    height: 400px;
    width: 300px;
    background-image: url("../images/history.jpg");
    background-repeat: round;
    /* background-position: 40px 50px; */
    /* background-attachment: local; */
    /* background-size: center center; */
    /* background: pink url("../images/history_picture.jpg") no-repeat 0px; */
    /* margin: 50px 50px 50px 50px; */
    /* padding-top: 35px; */
    /* margin-bottom: 50px; */
    /* padding-left: 70px; */
    /* margin-right: 70px; */
    /* background-color: coral; */
    /* padding: 50px 50px 50px 50px; */
    /* border: 20px solid crimson; */
    /* overflow: scroll; */
    /* box-sizing: border-box; */
    box-shadow: 40px 40px 50px slategray;
    /* display: none; */
    /* position: fixed; */
    top: 50px;
    /* right: 200px; */
    z-index: -10;
    border-radius: 15px;
}

/* ul, li { */
    /* display: inline; */
    /* height:50px; */
/* } */

#company_name {
    background-color: #fff462;
    color: gray;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-shadow: 4px 10px 5px black;
    letter-spacing: 10px;
}
.highlight {
    background-color:tan;
    text-indent: 10px;
    word-spacing: 2px;
}
