.container1 {
    float: left;
}

.container2 {
    float: right;
}

#box1 {
    height: 100px;
    width: 100px;
    background-color:blue;
    border: 30px groove orange;
    margin: 0px;
}

#box2 {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 30px groove orange;
    margin: 0px;
}

#box3 {
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 30px groove orange;
    margin: 0px;
}

#box4 {
    height: 100px;
    width: 100px;
    background-color:green;
    border: 30px groove orange;
    margin: 0px;
}
